@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
 

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply font-rajdhani;
  }
  h1,h2,h3,h4,h5,h6{
    @apply font-bold uppercase;
  }
  h1{
    @apply text-5xl md:text-[80px] leading-none;
  }
  h2{
    @apply text-[40px] ;
  }  
  h3{
    @apply text-[22px] ;
  }  
  h4{
    @apply text-[18px] ;
  }  
  a{
    @apply font-bold uppercase leading-none hover:text-accent transition-all duration-200;
  }  
  .btn {
    @apply flex justify-center items-center h-[50px] px-8 text-white font-semibold uppercase;
  }
  .btn-icon{
    @apply flex justify-center items-center w-[50px] h-[50px] text-2xl text-white;
  }
  .btn-accent{
    @apply bg-accent hover:bg-accent-hover transition-all;
  }
  .btn-primary{
    @apply bg-primary hover:bg-primary-hover transition-all;
  }
  .btn-white{
    @apply bg-white hover:bg-white/90 text-primary transition-all;
  }

  /* swiper */
  .popular-bike-slider .swiper-wrapper{
    @apply !h-[500px]
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet{
    @apply bg-accent
  }
}